.shop-container{
    display: flex;
}
.product-container{
    max-width: 70%;
    margin-left: 5rem;
    border-right: 1px solid lightgray;
    margin-right: .5rem;
}
.cart-container{
    max-width: 30%;
}